pipeline/Databricks_calling_inner_pipeline.json
{
	"name": "Databricks_calling_inner_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_job_config_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT * FROM Job_Config WHERE trigger_identifier = ''',\n  pipeline().parameters.trigger_identifier,\n  ''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_sqldb_job_config_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@item().Notebook_Path",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_job_config_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_job_config_table').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Job_Group,concat(pipeline().parameters.trigger_identifier,'_',pipeline().parameters.group))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"trigger_identifier": {
				"type": "string"
			},
			"group": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-15T11:18:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}