pipeline/Ingestion_sqldb_to_deltatbl.json
{
	"name": "Ingestion_sqldb_to_deltatbl",
	"properties": {
		"activities": [
			{
				"name": "LookupIngestConfigTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_lookup_tbl_azure_sql_db",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "ingest_config_tbl",
							"database_name": {
								"value": "project",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupIngestConfigTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupIngestConfigTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(item().load_type,'FULL'),equals(item().is_active,'Y'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fetch_max_log",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('select coalesce(cast(max(load_date) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where source_system = ''',item().source_system, ''' and tablename=''',item().target_table,'''')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "ds_deltalaketable_databricks",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "audit",
													"table_name": "load_log"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Incremental_copy_data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Fetch_max_log",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * , utcNow() as target_inserted_date from @{item().source_table} where @{item().watermark_column} > '@{if(empty(pipeline().parameters.BackFillDate),activity('Fetch_max_log').output.firstRow.last_fetched_date,pipeline().parameters.BackFillDate)}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureDatabricksDeltaLakeSink",
												"importSettings": {
													"type": "AzureDatabricksDeltaLakeImportCommand"
												}
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "ADLSAnshAdv",
													"type": "LinkedServiceReference"
												},
												"path": "landing/adf_staging"
											}
										},
										"inputs": [
											{
												"referenceName": "ds_lookup_tbl_azure_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@split(item().source_table,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().source_table,'.')[1]",
														"type": "Expression"
													},
													"database_name": {
														"value": "@item().database",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_deltalaketable_databricks",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@split(item().target_table,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().target_table,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_Full_Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',utcNow(),'''as target_inserted_date from ',item().source_table)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureDatabricksDeltaLakeSink",
												"importSettings": {
													"type": "AzureDatabricksDeltaLakeImportCommand"
												}
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "ADLSAnshAdv",
													"type": "LinkedServiceReference"
												},
												"path": "landing/adf_staging"
											}
										},
										"inputs": [
											{
												"referenceName": "ds_lookup_tbl_azure_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@split(item().source_table,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().source_table,'.')[1]",
														"type": "Expression"
													},
													"database_name": {
														"value": "@item().database",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_deltalaketable_databricks",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@split(item().target_table,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().target_table,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "InsertLoadLogs",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy_Full_Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into audit.load_logs(source_system,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (','''',item().source_system,''',''',item().target_table,''',''',activity('Copy_Full_Load').output.rowscopied,''',''',item().watermark_column,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "ds_deltalaketable_databricks",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "'aa'",
													"table_name": "'aa'"
												}
											},
											"firstRowOnly": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BackFillDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}